// admin/src/components/datatableBookings/datatableBookings.scss

.datatable {
  height: 600px;
  padding: 20px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 10px;

    .statusButton {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
      background-color: transparent;
      font-size: 12px;
      
      &:focus {
        outline: none;
      }
    }

    .paymentButton {
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      font-size: 12px;
      
      &.paid {
        background-color: rgba(0, 128, 0, 0.151);
        color: green;
      }
      
      &.unpaid {
        background-color: rgba(255, 165, 0, 0.151);
        color: goldenrod;
      }
    }

    .deleteButton {
      padding: 5px 10px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.6);
      cursor: pointer;
      font-size: 12px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;

    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }

    &.confirmed {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }

    &.cancelled {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }
}