.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    font-weight: 500;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.navButton {
    margin-left: 15px;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    color: #003580;
    background-color: white;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s;
}

.navButton:hover {
    background-color: #f0f0f0;
    transform: translateY(-1px);
}

.navButton:active {
    transform: translateY(0);
}

.navItems {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navUsername {
    color: white;
    font-weight: 500;
    margin-right: 5px;
    font-size: 14px;
}